#containerIntro h4,
#containerIntro p {
    display: inline;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 35px;
}

body {
 background-image: url("../img/backnodetuto.jpg");
}

#xx {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


#x{
	float: right;
}
h2 {
	text-align: center;
	color:black;
}
