<!DOCTYPE html>
<html>
<head> 
  <meta charset="utf-8">
<title>Les Procéduriers</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../public/style/style3.css"/>
</head>
<body>
  <%-include ('./partials/testnav') %>
  <br/></br>
  <img id="xx" src="../public/img/deplogo1.png">
    
    <h2   id="xx">Comment j'ai réussi mon troubleshooting du dépannage N: 1 du (LABO5) &#63;</h2></br>
   
    <ol>
     <h5> <img src="../public/img/sadjake.gif">&#127779;&#9888; Constatation de l'erreur &#9888;</h5>
</li>
<img src="../public/img/procc1.png"><hr/>
</br>
         <h5>&#127779;&#10003; Vérification des couches 1-2-3 ainsi que le bon fonctionnement du VPN (les captures ci-dessous)  </h5>
<img src="../public/img/procc2.png"></br><hr/>
       
<img src="../public/img/procc3.png"></br><hr/>


<img src="../public/img/procc4.png"></br></li><hr/>

<h5>&#127779;&#10003; Couches 4 : Je vérifie que mes ports sont ouverts et fonctionnels   </h5>
<p>Tout semble correct 🤔 </p>

<img src="../public/img/couhe4img.png"></br><hr/>



<h5>&#127779;&#9888; Couches 6 : Détection d'un problème de la route au niveau du Back-End  </h5>

<img src="../public/img/procc5.png"></br><hr/>
<div id="containerIntro">
   
</div></li>
</br>

<h5>&#127779;&#10003;Couches 6 : Fixer le lien pour matcher l'URL demandé  </h5>



<img src="../public/img/procc6.png"></br><hr/>
 
    <h5> <img src="../public/img/dancing.gif"> <img src="../public/img/apl.gif">    &#127779;&#10003; Et voilà, ça fonctionne ! &#10003;    </h5> 

<img src="../public/img/procc7.png"></br><hr/>


        
    </ol>
    
    
    

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	 

</body>
</html>