<!DOCTYPE html>
<head> 
  <meta charset="utf-8">
<title>Les Proceduriers</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../public/style/style2.css"/>
</head>
<body>
  <%-include ('./partials/testnav') %>

  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
      
        <img src="../public/img/nodee.png">
        <div class="caption">
            
          <h3>  &#160;&#160;  </br> &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;Préparer un projet Node</br>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;ET</br>&#160;&#160;&#160;&#160; l'hébergeur sur un serveur Linux </h3>
          <div class="alert alert-success" role="alert">
              
           
            
          Ce tutoriel vous explique comment démarrer un projet node et l'héberger sur un serveur Linux en donnant les étapes à suivre commençant par la création du projet from scratch jusqu'aux hébergements 
          il aurait des instructions avec avec des screenshots afin de clarifier les choses dans votre esprit.</br></br>
          &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;NB: ce procédurier est sur Windows 10.
            
            
          </div>
          <p>&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;<a  href="/nodetuto" class="btn btn-primary" role="button">Allons-y !</a> 
        </div>
      </div>
    </div>
</div>
   

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	 

</body>
</html>